<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>個人資料</title>
</head>
<body>
    <h2>個人資料</h2>
    <form method="post" enctype="multipart/form-data">
      {% csrf_token %}
      {{ profile_form.as_p }}
    
      <h2>出生資訊</h2>
      {{ birth_form.as_p }}
    
      <button type="submit">儲存</button>
    </form>
    
    {% if birth_info %}
      <h3>您輸入的時間地點為：</h3>
      <ul>
        <li>{{ birth_info.birth_year }} 年 {{ birth_info.birth_month }} 月 {{ birth_info.birth_day }} 日</li>
        <li>{{ birth_info.birth_hour }} 點 {{ birth_info.birth_minute }} 分</li>
        <li>地點：{{ birth_info.birth_location }}</li>
      </ul>
    {% endif %}
    
</body>
</html>